body{
    text-align: center;
    background-color: #FFFFE8 ;
}
h1{
    color: #1A0000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
}
img{
    width: 45%;
    padding: 10px auto;
}
h2{
    color: #400E32;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px auto;
    font-size: 2rem;
}
.prologue{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin:10px auto;
    font-weight: 400;
    color: #567189;
}
.intro{
    line-height: 2;
    padding: 10px auto;
    background-color: #9DF1DF;
}
.acheivements{
    line-height: 2;
    padding: 10px 20px 20px 10px;
    background-color: #ABC270;
}
.links{
    background-color: #86E5FF;
    padding: 10px 20px 10px 20px;
}
hr{
    border-style: dotted none;
    border-bottom: 0;
    width: 20%;
    border-color: red;
    border-width: 4px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFC93C;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}
.one{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100;
}
.two{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50;
}
.btn {
    background: #4d34d9;
    background-image: -webkit-linear-gradient(top, #4d34d9, #2bb86d);
    background-image: -moz-linear-gradient(top, #4d34d9, #2bb86d);
    background-image: -ms-linear-gradient(top, #4d34d9, #2bb86d);
    background-image: -o-linear-gradient(top, #4d34d9, #2bb86d);
    background-image: linear-gradient(to bottom, #4d34d9, #2bb86d);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #229985;
    background-image: -webkit-linear-gradient(top, #229985, #14d147);
    background-image: -moz-linear-gradient(top, #229985, #14d147);
    background-image: -ms-linear-gradient(top, #229985, #14d147);
    background-image: -o-linear-gradient(top, #229985, #14d147);
    background-image: linear-gradient(to bottom, #229985, #14d147);
    text-decoration: none;
  }
div:hover{
    background-color: burlywood;
    border-radius: 20%;
}
    img{
    opacity:0.5;
    transition: 1s ease;
    }
    
    img:hover{
    opacity:1;
    transition: 1s ease;
    }